$length: 800px;
$sec-color: #b1c2cc;
$bench-width: 250px;
$account-height: 50px;
$navyblue: #170e2b;
$darkblue: #005693;
$blue: #008cab;
$white: #fff;
$tan: #bbc69b;
$eva-green: #2c8c1f;
$eva-red: #a40b16;
$eva-purple: #711f8c;
$splatoon-red: #c83d79;
$splatoon-dark-red: #320f1e;
$splatoon-green: #a1f70f;

body {
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at center, #333 1.5px, transparent 1px, transparent 10px), #002a32;
  background-size: 8px 8px;
  font-family: Oswald, sans-serif;

  &::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    color: $eva-red;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 1.2px #ddd;
    text-shadow: 0 0 15px #ead7a3;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    user-select: none;
    z-index: 1;
  }

  &.loaded {
    &::after {
      animation: cover-dismiss 1s linear forwards;
      pointer-events: none;
    }

    .main-title {
      left: 50%;
      top: 0;
      transform: translate(-50%, -50px);

      &::before {
        animation: cover-dismiss 1s linear forwards;
      }
    }

    .support {
      animation: cover-dismiss 1s linear forwards;
    }
  }
}

@keyframes cover-dismiss {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

progress {
  display: none;
  -webkit-appearance: none;
  width: 800px;
  box-sizing: border-box;

  &::-webkit-progress-value {
    background-color: $splatoon-green !important;
  }
}

.main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 1s linear;
  transform: translate(-50%, -50%);
  color: $eva-red;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 1.2px #ddd;
  text-shadow: 0 0 15px #ead7a3;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
  user-select: none;
  z-index: 2;
  text-align: center;

  &:before {
    display: block;
    content: 'LOADING ';
  }
}

input,
button {
  outline: none;
}

input {
  &[readonly] {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    font-family: Oswald;
    cursor: default;
    padding: 0 10px;
  }
}

.panel {
  display: flex;
  margin: 0 auto;

  canvas {
    box-sizing: border-box;
    margin: 0 auto;
    width: $length;
    height: $length;
    z-index: 1;
    background: $splatoon-dark-red;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
  }
}

.word-bench {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% + 400px);
  height: $length;
  width: $bench-width;
  background: $splatoon-red;
  overflow: hidden;
  transform: translateX(-$bench-width);
  animation: bench-appear 1s linear forwards;
  opacity: 0;
  padding-top: 30px;
  box-sizing: border-box;

  button {
    border: none;
    background-color: $splatoon-green;
    color: $navyblue;
    font-size: 20px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s linear;

    &[disabled] {
      cursor: not-allowed;
      background-color: #b1c2cc;
      color: #333;
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 15px #3e6005;
    }
  }
}

.editor {
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  // height: 100%;

  .coordinates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    & > div {
      width: 45%;
      display: flex;

      label {
        width: 15px;
      }

      input {
        flex: 1;
      }
    }
  }

  .field {
    margin: 5px 0;
    display: flex;

    label {
      display: inline-block;
      width: 50px;
    }

    input {
      flex: 1;
    }
  }

  input[type='range'] {
    &::after {
      display: inline;
      content: attr(value);
    }
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
  }

  input[name='r'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, red);
      align-self: center;
      border-radius: 7.5px;
    }
  }

  input[name='g'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, green);
      border-radius: 7.5px;
    }
  }

  input[name='b'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, blue);
      border-radius: 7.5px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    button {
      margin-top: 5px;
      user-select: none;
    }
  }
}

.preview {
  margin-top: 30px;

  .color {
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ccc;
    border-radius: 2px;
    margin-top: 15px;

    span {
      mix-blend-mode: difference;
      letter-spacing: 3px;
      text-shadow: 0 0 5px #ccc;
    }
  }
}

.account {
  margin: 0 15px 15px;
}

@keyframes bench-appear {
  from {
    transform: translateX(-$bench-width);
    opacity: 0;
  }

  50% {
    transform: translateX(-$bench-width);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.history {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  transform: translateY(110px);
  transition: transform 0.2s linear;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 1;

  &:hover {
    transform: translateY(0);
  }

  .history-title {
    user-select: none;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .history-items {
    width: 100%;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-y: auto;
    scroll-behavior: smooth;

    canvas {
      scroll-snap-align: center;
      margin: 0 15px;
      border: 2px solid black;
      cursor: pointer;

      &:hover {
        border: 2px solid #fff;
      }
    }
  }
}

dialog {
  border: none;
  padding: 0;
  line-height: 0;

  .dialog-footer {
    display: flex;

    button {
      flex: 1;
    }
  }

  button {
    border: none;
    background-color: $splatoon-green;
    color: $navyblue;
    font-size: 20px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s linear;
    user-select: none;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 15px #3e6005;
    }
  }
}

.support {
  font-size: 12px;
  font-family: monospace;
  transform: translateY(50%);
  pointer-events: none;
}

@media screen and (max-height: 1050px) {
  .main-title {
    transform: translate(-50%, -60px) !important;
  }
}

@media screen and (max-height: 986px) {
  .main-title {
    transform-origin: top center;
    transform: translate(-50%, -70px) !important;
  }
}

@media screen and (max-height: 959px) {
  .main-title {
    transform: translate(-50%, -60px) scale(0.8) !important;
  }
}

@media screen and (max-height: 930px) {
  .main-title {
    transform: translate(-50%, -50px) scale(0.7) !important;
  }
}

@media screen and (max-height: 920px) {
  .main-title {
    opacity: 0;
    transform: scale(0);
  }
}
