$length: 800px;
$sec-color: #b1c2cc;
$bench-width: 250px;
$account-height: 50px;

body {
  background-color: #e8ecf1;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;

  &[readonly] {
    border: none;
    background: #ccc;
  }
}

.panel {
  display: flex;
  margin: 0 auto;
  canvas {
    box-sizing: border-box;
    margin: 0 auto;
    width: $length;
    height: $length;
    z-index: 1;
    background: #d8d9d7;
    box-shadow: 0px 33px rgba(0, 0, 0, 0.2);
  }
}

.word-bench {
  position: absolute;
  left: calc(50% + 400px);
  height: $length;
  width: $bench-width;
  background-color: $sec-color;
  overflow: hidden;
  transform: translateX(-$bench-width);
  animation: bench-appear 2s linear forwards;
  opacity: 0;
}

.editor {
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;

  input[type='range'] {
    &::after {
      display: inline;
      content: attr(value);
    }
  }

  input[name='r'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, red);
      border-radius: 7.5px;
    }
  }

  input[name='g'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, green);
      border-radius: 7.5px;
    }
  }

  input[name='b'] {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg, black, blue);
      border-radius: 7.5px;
    }
  }
}

.color {
  height: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ccc;

  span {
    mix-blend-mode: difference;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 2 * $account-height);
  height: $account-height;
  background: $sec-color;
  color: #3c4449;
  padding: 0 100px;
  cursor: pointer;
  white-space: nowrap;
  font-family: monospace;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  animation: account-appear 2s linear forwards;
}

@keyframes bench-appear {
  from {
    transform: translateX(-$bench-width);
    opacity: 0;
  }

  50% {
    transform: translateX(-$bench-width);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.history {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  transform: translateY(110px);
  transition: transform 0.2s linear;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

  &:hover {
    transform: translateY(0);
  }

  .history-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: monospace;
    color: #fff;
  }
  .history-items {
    display: flex;
    canvas {
      margin: 0 15px;
      border: 2px solid black;
      cursor: pointer;
      &:hover {
        border: 2px solid #fff;
      }
    }
  }
}
